.blockFour {
    margin-top: 6%;
    font-family: 'SF Pro Display';
}

.blockFour-title {
    font-size: 26px;
    font-weight: 900;
    letter-spacing: 0.65px;
    color: #060839;
    margin-bottom: 50px;
}

.blockFour-main-container {
    width: 1140px;
    /* height: 629px; */
    display: flex;
    justify-content: space-between;
    /* overflow: scroll; */
}

.blockFour-main-numbers {
    flex-direction: column;
    justify-content: space-between;
}

.blockNumbers {
    width: 68px;
    height: 161px;
    align-items: flex-start;
    box-sizing: border-box;
}

.blockNumbers p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 68px;
    height: 68px;
    color: #54cff0;
    font-size: 26px;
    font-weight: 900;
    line-height: 0.85;
    border-radius: 50%;
    border: 2px solid;
}

.blockFour-main-content {
    width: 1043px;
}

.stretch-container {
    display: flex;
}
.stretch-left {
    position: relative;
    padding-top: 10px;
    width: 27px;
    min-width: 27px;
}
.stretch-line {
    position: relative;
    width: 0;
    height: 0;
    background-color: transparent;
    border-right: 2px dashed #d0e2f8;
    transition: height 4s ease-in-out;
}
.stretch-right {
    margin: 0;
    margin-bottom: 36px;
    padding: 0;
    list-style: none;
}

.blockFour-main-content-blocks {
    height: 161px;
    margin-bottom: 25px;
    box-shadow: 0 0 10px silver;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
}

.blockFour-main-content-blockText {
    max-height: 100%;
    max-width: 780px;
    padding: 36px 34px 33px 43px;
    box-sizing: border-box;
}

.blockFour-main-content-blockText h2{
    margin-bottom: 13px;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.55px;
    color: #060839;
}

.blockFour-main-content-blockText p{
    font-size: 16px;
    line-height: 1.38;
    color: #6d7e8a;
}

.blockFour-main-content-blockImg {
    justify-content: center;
    width: 213px;
    height: inherit;
    background-color: #e6f1ff;
}

.blockFour-main-content-blockTitle {
    max-width: 50px;
    height: inherit;
    background-image: linear-gradient(to top, #3652e4, #54cff0);
    border-top-right-radius: 50px;
    color: #fff;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.blockFour-main-content-blockTitle p {
    font-size: 14px;
    height: 50px;
    transform: rotate(-90deg);
    width: inherit;
}