.block-one {
    margin: 0;
    position: relative;
    font-family: 'SF Pro Display';
}

.block-one:before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    height: 100%;
    width: 910px;
    background-image: url("../../IMG/Layer\ 9.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 100%;
    transform: translate(0,-50%);
}

.block-one .center-main-block{
    position: relative;
    z-index: 10;
}

/* Header section */

.header {
    justify-content: space-between;
}

.conteiner-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.text-logo {
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 2.6px;
    color: #060839;
    margin-left: 10px;
}

.header-conteiner-menu {
    list-style: none;
    justify-content: flex-end;
    color: #ffffff;
}

.header-conteiner-menu li {
    margin-left: 20px;
}

.header-conteiner-menu a {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    scroll-behavior: smooth;
}

.header-conteiner-menu a:active {
    scroll-behavior: smooth;
}

.header-menu-lastLi {
    display: flex;
    align-items: center;
    justify-content: right;
}

.header-menu-icons {
    margin-right: 6px;
}

.header-menu-link {
    color: #32f4ff;
}

/* Main content */

/* .block-one-main {
} */

.block-one-text-container {
    max-width: 566px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
}

.title-appearing{
    margin: 50px 0;
    color: #3652e4;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 0.65px;
    text-transform: uppercase;
}
.title-appearing:after {
    content: '';
    display: inline-block;
    width: 2px;
    height: 1em;
    margin-left: 10px;
    background-color: #3652e4;
    transform: translateY(0.2em);
    animation: title-appearing 1s ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes title-appearing {
    0%{opacity: 0}
    50%{opacity: 1}
    100%{opacity: 0}
}

.stretch-container {
    display: flex;
}
.stretch-left {
    position: relative;
    padding-top: 10px;
    width: 27px;
    min-width: 27px;
}
.stretch-line {
    position: relative;
    width: 0;
    height: 0;
    background-color: transparent;
    border-right: 2px dashed #d0e2f8;
    transition: height 4s ease-in-out;
}
.stretch-right {
    margin: 0;
    margin-bottom: 36px;
    padding: 0;
    list-style: none;
}

.block-one-li-networking {
    position: relative;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.55px;
    color: #060839;
    animation-delay: 0.5s;
}

.block-one-li-networking:before{
    content: "";
    position: absolute;
    top: 10px;
    left: -30px;
    display: block;
    width: 10px;
    height: 10px;
    background-color: #54cff0;
    border-radius: 50%;
}

.block-one-li-virtualOffice {
    font-size: 16px;
    line-height: 1.75;
    color: #6d7e8a;
    animation-delay: 1s;
    padding: 10px 0;
    margin-bottom: 27px;
    border-bottom: solid 3px #3652e4;
}

.block-one-li-attractSkilled {
    position: relative;
    width: 331px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.38;
    color: #060839;
    animation-delay: 1.5s;
}

.block-one-li-attractSkilled:before {
    content: url(../../IMG/Shape81.png);
    position: absolute;
    top: 0;
    left: -40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 29px;
    height: 29px;
    background-color: #3652e4;
    border-radius: 50%;
}


.block-one-li-four {
    animation-delay: 2s;
}

.block-one .button-conteiner {
    max-width: 390px;
}

.block-one-img {
    max-width: 555px;
}