/* Modal window */

.modal {
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

.modal-content {
    flex-direction: column;
    justify-content: space-between;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    -webkit-animation: slide-in-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.modal-content form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0 20px;
}

.modal-content input{
    margin-bottom: 10%;
    padding: 10px 15px;
    border: 1px solid rgb(218, 215, 215) ;
    border-radius: 20px;
}

.close {
    margin: 0;
    padding: 0;
    cursor: pointer;
    text-align: right;
    color: #aaa;
    font-size: 26px;
}

.button-conteiner {
    height: 30px;
    width: 100%;
}