*{
    margin: 0;
    padding: 0;
    font-family: inherit;
    word-break: break-word;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}
body{
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
    font-size: 16px;
    line-height: 1.375;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}
img{
    max-width: 100%;
    border-style: none;
}

.center-main-block{
    max-width: 1140px;
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;
}

.flex-al-center {
    display: flex;
    align-items: center;
}

.text-uppercase {
    text-transform: uppercase;
}

/* Footer section */

.footer-list {
    padding: 0;
    list-style: none;
    width: 462px;
}

/* Media screen section */

@media screen and (min-width: 1980px) and (max-width: 2040px) {
    
}
@media screen and (min-width: 1025px) and (max-width: 1980px) {
    
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    
}
@media screen and (min-width: 450px) and (max-width: 767px) {
   
}
@media screen and (min-width: 320px) and (max-width: 449px) {
    
}