/* Block two */

.block-two {
    position: relative;
    font-family: 'SF Pro Display';
    padding: 123px 0 180px 0;
}

.block-two:before{
    content: "";
    position: absolute;
    top: -5%;
    left: 421px;
    display: block;
    height: 721px;
    width: 1944px;
    background-image: url(../../IMG/Rectangle3.png);
    background-position: center;
    background-repeat: no-repeat;
}

.block-two .center-main-block {
    text-align: center;
    max-width: 736px;
}

.block-two-title {
    font-size: 26px;
    font-weight: 900;
    letter-spacing: 0.65px;
    color: #060839;
    margin: 36px;
}

.block-two-description {
    width: 100%;
    font-size: 16px;
    line-height: 1.38;
    color: #6d7e8a;
}

.block-two-blue-text {
    font-size: 22.5px;
    margin: 23px 0 39px 0;
    font-weight: bold;
    letter-spacing: 0.56px;
    color: #3652e4;
}

.block-two .button-container {
    width: 360px;
    margin: 0 auto;
}