.block-five {
    position: relative;
}

.block-five:before{
    content: "";
    position: absolute;
    top: 0;
    left: 414px;
    display: block;
    height: 1208px;
    width: 1944px;
    background-image: url(../../IMG/Rectangle4.png);
    background-position: center;
    background-repeat: no-repeat;
}

.block-five .center-main-block {
    flex-direction: column;
    justify-content: center;
    padding-top: 64px;
    max-height: 1208px;
}

/* Top section */

.block-five-top {
    width: 100%;
    justify-content: space-between;
}

.block-five-top-img-container {
    position: relative;
}

.block-five-anim-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 52%;
    left: 20%;
    width: 130px;
    height: 90px;
}

.block-five-anim-blocks {
    width: 9%;
    height: 100%;
    background-color: silver;
}
.block-five-anim-blocks:hover {
    -webkit-animation: scale-up-ver-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s both;
	        animation: scale-up-ver-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s both;
}

/* scale-up-ver-bottom */

.block-five-top-img {
    max-width: 489px;
}

.block-five-top-text-container {
    max-width: 557px;
    margin-top: 50px;
}

.top-right-text {
    font-size: 26px;
    font-weight: bold;
    line-height: 1.46;
    letter-spacing: 0.65px;
    font-family: 'SF Pro Display';
    color: #060839;
}

.welcome {
    color: #3652e4;
}

.block-five .button-container {
    margin-top: 43px;
    max-width: 263px;
}

/* bottom section */

.block-five-bottom {
    flex-wrap: wrap;
    justify-content: center;
}

.block-five-bottom-blocks {
    flex-direction: column;
    width: 341px;
    margin: 30px 15px;
}

.block-five-bottom-blocks p {
    width: 100%;
    text-align: center;
    font-family: 'SF Pro Display';
    color: #6d7e8a;
}

.block-five-bottom-img-container {
    width: 129px;
    height: 129px;
    margin: 38px;
    justify-content: center;
    box-shadow: 0 0 10px silver;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
}

.block-five-bottom-img-container:hover {
    box-shadow: 0 0 20px #3652e4;
    color: #3652e4;
}

.block-five-bottom-img-container:hover .cls-1 {
    fill: #3652e4;
}

/* SVG */

.cls-1 {
    fill: #54cff0;
    fill-rule: evenodd;
}