.button-conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #54cff0;
    border-radius: 20px;
    color: #ffffff;
    height: 44px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.14px;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid transparent;
    margin-bottom: 20px;
}

.button-conteiner:hover {
    background-color: #54def0;
}