.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #54cff0;
    border-radius: 20px;
    color: #ffffff;
    height: 44px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.14px;
}

.button-container:hover {
    background-color: #54def0;
    cursor: pointer;
}